.dropDown {
  width: 100%;
  height: px;
  padding: 50px;
  margin: 50px 50px;
}
.dropDown-trigger {
  width: 100%;
  padding: 50px;
}
.button {
  width: 15%;
  height: 5px;
  padding: 10px;
  margin: 5px;
}

.columnOne {
  padding: 50px;
}
.containerMiddle {
  border: 1px solid white;

  border-radius: 50px 5px 30px 15px;
}
.dropdown-content {
  max-height: 20em;
  overflow: auto;
}
