.chartAreaWrapper {
  position: relative;
  margin-top: 3%;
  height: 300px !important;
  width: 100% !important;
}
input[type='date'] {
  background-color: #f1efef;
  padding: 15px;
  /* transform: translate(-50%, -50%); */
  font-family: 'Roboto Mono', monospace;
  color: rgb(0, 0, 0);
  font-size: 13px;

  border: none;
  margin-top: 3px;
  border-radius: 7px;
}

::-webkit-calendar-picker-indicator {
  padding: 0px;
  cursor: pointer;
  border-radius: 3px;
}
#myChart {
  margin-bottom: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px 5px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 10px 10px 18px 10px;
  background-color: rgb(248, 244, 239);
}

#chartArea2 {
  margin-bottom: 17px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px 5px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 10px 10px 18px 10px;
  background-color: rgb(248, 244, 239);
}
#chartSocio2 {
  margin-bottom: 17px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px 5px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 10px 10px 18px 10px;
  background-color: rgb(248, 244, 239);
}
.modalSocio p {
  text-align: center;
  font: 35px 'Abel';
  color: #010203;
}

.dateButton {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 27px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  margin-left: 12px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* touch-action: manipulation; */
  width: auto;
  /* will-change: transform, opacity; */
  z-index: 0;
  top: -5px;
}

.dateButton:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.socioEconomicGraph {
  margin-top: 50px;
}

/* .dateButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
} */

/* .dateButton:focus {
  outline: none;
  border: 2px solid #4285f4;
} */

/* .dateButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.dateButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.dateButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.dateButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.dateButton:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px; */

.extraSocioBtn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 27px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: static;
  margin-left: 12px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.extraSocioBtn:hover {
  background: #f6f9fe;
  color: #174ea6;
}

.extraSocioBtn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.extraSocioBtn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.extraSocioBtn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.extraSocioBtn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.extraSocioBtn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.extraSocioBtn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.extraSocioBtn:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
